{% load static %}
{% load custom_tags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'devices.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="{% static 'devices.js' %}"></script>
</head>

<body>
    <nav>
        <div class="ras_logo">
            <a href="{% url 'home' %}"><img src="{% static 'RAS_logo.png' %}" alt="logo_RAS"></a>
        </div>
        <div class="nav_title">
            <h1>Projeto Automação Residencial</h1>
        </div>
        {% if not request.user.is_authenticated %}
        <div class="login_button">
            <a href="{% url 'login' %}"><button>Login</button></a>
        </div>
        {% endif %}
    </nav>

    <form action="{% url 'devices' %}" method="POST">
        <div class="devices-content">
            <div class="select-bar">
                <ul>
                        <li>Criar Cômodo</li>
                        <li>Editar Cômodo</li>
                        <li>Criar Dispositivo</li>
                        <li>Editar Dispositivo</li>
                </ul>
            </div>

            <div class="devices-board">
                <div class="sidebar">

                </div>
                <div class="devices-board-content">
                    {% csrf_token %}
                    {% for room in rooms %}
                    <div class="room-card">
                        <h3>{{room.name}}</h3>
                        <div class="room-card-content">
                            {% for device in devices %}
                                {% if device.room == room %}
                                <div class="device-card">
                                    <span class="device-item">{{device.name}}
                                        <button class="device-button" type="submit" name="device" id="button-{{device.status|color_status}}"  value="{{device.id}}">{{device.status|string_status}}</button>
                                    </span>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <span>Status do Cômodo: <button class="device-button-conv" type="submit" id="button-{{room.status|color_status}}" name="room" value="{{room.id}}">{{room.status|string_status}}</button></span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>

    <footer>
        <a href=""><img src="{% static 'linkedin.png' %}" alt=""></a>
        <a href=""><img src="{% static 'instagram.png' %}" alt=""></a>
        <a href=""><img src="{% static 'facebook.png' %}" alt=""></a>
    </footer>
</body>