{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="content">
    <div class="devices-cards">
        {% if request.user.is_authenticated %}
            {% for room in rooms %}
                <div class="cards">
                    <p>{{room.name}}</p>
                    <button>{{room.status}}</button>
                </div>
            {% endfor %}
        {% else %}
                <div class="cards">
                    
                    

                </div>
        {% endif %}
    </div>
</div>
{% endblock %}