/* BASE.HTML */
html {
    height: 100vh;
}
body {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    margin: 0%;
    height: 100vh;
    background-color: rgb(26, 26, 26);
}

p {
    margin: 0%;
}

nav {
    height: 10vh;
    box-sizing: border-box;
    margin: 0%;
    padding: 10px 15px;
    color: #fff;
    background-color: #2e2e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    padding: 5px;
    text-decoration: none;
    color: #fff;

}

footer {
    height: 10vh;
    bottom: 0px;
    color: #fff;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;   
}

/* HOME.HTML */
.content {
    display: flex;
    width: 100%;
    min-height: 80vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.content form {
    width: 80%;
}

.room-cards {
    width: 100%; 
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.device-cards {
    width: 80%; 
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cards {
    width: 95%;
    min-width: 300px;
    min-height: 250px;
    padding: 10px;
    border: solid 0px transparent;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    color: #fff;
    background-color: #2e2e2e;
}

.cards p {
    font-size: 1.3em;
    text-align: center;
}

.cards button {
    background-color: #3cff00;
    font-size: 0.7em;
    margin: 15px;
    padding: 15px;
    border: solid transparent;
    border-radius: 5px;
    color: rgb(51, 51, 51);
}

.cards button:hover {
    cursor: pointer;
}

#button-green{
    background-color: #00ff00;
}

#button-red{
    background-color: #ff0000;
}

#device-card {
    background-color: #181818cc;
}

/* LOGIN.HTML */
.login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 0px;
    gap: 20px;
}

.login a {
    font-size: 0.7em;
    text-decoration: underline;
}

.login button {
    width: 40%;
    margin: auto;
    font-size: 0.7em;
    text-align: center;
}

.login > div {
    display: flex;
    flex-direction: column;
}

/* REGISTER.HTML */
#register {
    margin: 50px;
}

#register button {
    width: 70%;
}