html {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

body {
    margin: 0%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#fundo {
    background-image: url("fundo.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
}

nav {
    background-color:#98012e;
    margin: 0%;
    height: 8%;
    min-height: 65px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
}

.ras_logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1% 5%; 
}

.ras_logo a {
    height: 100%;
}

.ras_logo img {
    height: 100%;
}

.nav_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_title h1 {
    margin: 0%;
    padding-bottom: 0.5%;
    font-size: 1.2rem;
}

.login_button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login_button a {
    text-decoration: none;
    margin: 0px;
    width: 25%;
    min-width: 100px;
    height: 50px;
    padding-right: 10%;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_button button:hover {
    cursor: pointer;
}

.login_button button {
    background-color:white ;
    color:  #66136f;
    font-family: 'Oswald', sans-serif;
    font-size: 0.85em;
    padding-bottom: 5%;
    width: 100%;
    min-width: 60px;
    height: 100%;
    border-color: transparent;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0%;
    gap: 50px;
}

.info_cards p {
    margin: 0px;
}

.info_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #98012e;
    width: 60%;
    border: solid #98012e 10px;
    border-radius: 20px;
    border-left: 0px;
    border-right: 0px;
}

.info_box h2 {
    margin: 0px;
    margin-top: 10px;
}

.info_box p {
    width: 100%;
    color: #98012e;
    text-align: center;
    padding: 3%;
}

.logo_ras_ieee {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 20%;
}

.logo_ras_ieee img {   
    width: 150px;
}

footer {
    background-color:#98012e;
    font-size: 0.8rem;
    height: 10%;
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 20px;
}

footer img {
    width: 30px;
    margin-top: 10%;   
}