{% extends 'base.html' %}

{% block 'title' %}
Automação Residencial
{% endblock %}

{% block 'conteudo' %}
<br>
<br>
<br>
<main class="container">
    <div class="container">
        <div class="card-deck mb-3 text-center">
          {% for comodo in comodos %}
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{comodo.comodo}}</h4>
            </div>
            <div class="card-body">
              <h4 class="card-title pricing-card-title">Iluminação</h4>
              <br>
              <br>
              <br>
              <br>
              <form action="{% url 'index' %}" method="post">{% csrf_token %}  
                {% if comodo.iluminacao == 1 %}
                <button type="submit" name="{{comodo.comodo}}" class="btn btn-success">Ligado</button>
                {% else %}
                <button type="submit" name="{{comodo.comodo}}" class="btn btn-danger">Desligado</button>
                {% endif %}
              </form>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
    </form>
    </main>
    <br>
    <main class="container">
        <div class="container">
          <div class="card-deck mb-3 text-center">
            {% for comodo in comodos %} 
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ comodo.comodo }}</h4>
              </div>
              <div class="card-body">
                <h4 class="card-title pricing-card-title">Ventilação</h4>
                <br>
                <br>
                <br>
                <br>
                {% if comodo.ventilacao != 0 %}
                <button type="button" class="btn btn-success">Ligado</button>
                {% else %}
                <button type="button" class="btn btn-danger">Desligado</button>
                {% endif %}
              </div>
            </div>
            {% endfor %}
           </div>
        </div>
    </main>
{% endblock %}